.vscode/

# Executables
*.exe
*.out
*.app

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Compiled Object Files
*.slo
*.lo
*.o
*.obj 

# Prerequisites
*.d

# Ignore temporary files
*.tmp
*.log
*.swp

# Ignore build directories
/build/
/bin/
/lib/
/dist/

.DS_Store